.page-trackDetail {
    height: 100%;

    .ant-breadcrumb {
        position: fixed;
        left: 220px;
        top: 50px;
        width: 100%;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        background-color: rgba(240, 242, 245, 1);
    }

    .detail {
        background: #fff;
        padding: 14px;
        min-height: 100%;
        margin-bottom: 20px;
    }

    .title {
        padding: 5px 0;
        background: rgba($color: #1890ff, $alpha: 0.1);
    }

    .ant-form-item-label {
        width: 110px;
    }

    .ant-input-number {
        width: 100%;
    }

    .ant-picker {
        width: 100%;
    }

    textarea {
        resize: none;
    }

    .btn {
        text-align: right;
    }

    .prevent-form {
        .ant-form-item-label {
            width: 170px;
        }
    }

    .immigration_form {
        .ant-form-item-label {
            width: 130px;
        }
    }
}